.fab__button {
    background-color: $pink;
    color: white;
    width: 65px;
    position: fixed;
    bottom: 7vh;
    right: 7vw;
    border-radius: 50%;
    height: 65px;
    font-size: 2rem;
    z-index: 1;
    box-shadow: 5px 0 3px -2px lighten(#c5c5c5, 13%) ;
}

.fab__button:hover {
    background-color: darken($pink, 10%);
}
@media (min-width: 412px){
    .fab__button {
        width: 67px;
        height: 67px;
    }
}
@media (min-width: 480px){
    .fab__button {
        width: 67px;
        height: 67px;
    }
}

@media (min-width: 540px){
    .fab__button {
        width: 73px;
        height: 73px;
    }
}

@media (min-width: 768px){
    .fab__button {
        width: 75px ;
        height: 75px;
        right: 10vw;
    }
}