.todoListItem {
    @include box-shadow;
    padding: $s-size;
    // height: auto;
    // max-height: 16rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.todoListItem  p.date{
    font-size: 1rem;
    margin: 0;
    margin-top: 0.6rem;
    color: lighten(black, 50%)
}
.todoListItem p.description {
    // max-height: 100px;
    // overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: $s-size;
    overflow: hidden;
    margin: 0;
}
.todoListItem p.title {
    // overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
}
.todoListItem__top{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid black;
    max-height: 10%;
}


.todoListItem__top .state,.todoListItem__top .action{
    font-size: $s-size;
    margin-bottom: $xs-size;
    letter-spacing: 0.5px;
    color: lighten(black,50%)
}

.todoListItem__top .state {
    color: $light-blue;
}

.todoListItem__top .action {
    display: flex;
    justify-content: space-between;
    width: 3rem;
}
.todoListItem__top .action svg {
    cursor: pointer;
}

@media (min-width: 768px){
    .todoListItem {
        width: 60%
    }
}